# Python
__pycache__/
*.py[cod]
*.sqlite3
backend/venv/
backend/.env
*.egg-info/
dist/
build/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
